

DB_PASSWORD=K0S0dkFbyk1wSpfDu8Sb23RWavAel4EX
DB_NAME=sjl_gestion_citas
DB_HOST=dpg-crk5itjtq21c73ab4c20-a.oregon-postgres.render.com
DB_PORT=5432
DB_USERNAME=sjl_gestion_citas_user

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s

# DB_PASSWORD=MySecr3tPassWord@as2
# DB_NAME=TesloDB
# DB_HOST=localhost
# DB_PORT=5434
# DB_USERNAME=postgres

# PORT=3000
# HOST_API=http://localhost:3000/api

# JWT_SECRET=Est3EsMISE3Dsecreto32s

FORM_LINK=https://docs.google.com/forms/d/e/1FAIpQLSfqi3d4B3hl7iWpLKDnclvPUsJw8QcYtmOtVZqRALKoZVmD8A/viewform?vc=0&c=0&w=1&flr=0
USER_EMAIL=luriganchomunicipalidad@gmail.com
KEY_EMAIL=vwzqvowchdvjmael
APP_URL=https://cita-tramite.vercel.app